PROJECT_NAME="Freight Intelligence & Vessel Optimization System"
API_V1_STR="----"
PORT=----
FRONTEND_URL=http://localhost:099876
DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/freight_db"
SECRET_KEY="secret_key"